# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Valjoux.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\hoyeu\shorea\Valjoux\.idea\.idea.Valjoux\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
